body {
  background-color:lavender;
  font-family:'Be Vietnam Pro', sans-serif;
}

.sorry {
  font-size:80px;
  top:500px;
}
.how {
  font-size:50px;
  bottom:300px;
  right:500px;
}

.love {
  font-size:100px;
  margin:0 auto;
  display:block;
  text-align:center;
}

.fat {
  font-size:30px;
  bottom:50px;
  right:40px;
}
.position {
  position:absolute;
}

.one {
  font-size:50px;
  bottom:400px;
  right:200px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.one:hover {
  opacity:1;
}

.two {
  font-size:80px;
  bottom:300px;
  left:300px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.two:hover {
  opacity:1;
}
.three {
  font-size:50px;
  bottom:500px;
  right:300px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.three:hover {
  opacity:1;
}
.four {
  font-size:50px;
  bottom:600px;
  right:500px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.four:hover{
  opacity:1;
}
.five {
  font-size:100px;
  left:0px;
  bottom:50px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.five:hover{
  opacity:1;
}
.six {
  font-size:70px;
  right:50px;
  bottom:90px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.six:hover {
  opacity:1;
}
.seven {
  font-size:80px;
  left:50px;
  top:50px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.seven:hover{
  opacity:1;
}
.eight {
  font-size:80px;
  left:90px;
  bottom:150px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.eight:hover{
  opacity:1;
}
.nine {
  font-size:70px;
  left:150px;
  bottom:300px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.nine:hover {
  opacity:1;
}
.ten {
  font-size:40px;
  left:80px;
  bottom:440px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.ten:hover {
  opacity:1;
}
body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
