body {
  background-color:lavender;
  font-family:'Be Vietnam Pro', sans-serif;
}

.sorry {
  font-size:80px;
  top:500px;
}
.how {
  font-size:50px;
  bottom:300px;
  right:500px;
}

.love {
  font-size:100px;
  margin:0 auto;
  display:block;
  text-align:center;
}

.fat {
  font-size:30px;
  bottom:50px;
  right:40px;
}
.position {
  position:absolute;
}

.one {
  font-size:50px;
  bottom:400px;
  right:200px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.one:hover {
  opacity:1;
}

.two {
  font-size:80px;
  bottom:300px;
  left:300px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.two:hover {
  opacity:1;
}
.three {
  font-size:50px;
  bottom:500px;
  right:300px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.three:hover {
  opacity:1;
}
.four {
  font-size:50px;
  bottom:600px;
  right:500px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.four:hover{
  opacity:1;
}
.five {
  font-size:100px;
  left:0px;
  bottom:50px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.five:hover{
  opacity:1;
}
.six {
  font-size:70px;
  right:50px;
  bottom:90px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.six:hover {
  opacity:1;
}
.seven {
  font-size:80px;
  left:50px;
  top:50px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.seven:hover{
  opacity:1;
}
.eight {
  font-size:80px;
  left:90px;
  bottom:150px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.eight:hover{
  opacity:1;
}
.nine {
  font-size:70px;
  left:150px;
  bottom:300px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.nine:hover {
  opacity:1;
}
.ten {
  font-size:40px;
  left:80px;
  bottom:440px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.ten:hover {
  opacity:1;
}
body {
  background: #1a1e23;
  margin: 0;
}

$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 94%, 76%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
